<?xml version="1.0" encoding="utf-8" ?>
<PreferenceScreen
	xmlns:app="http://schemas.android.com/apk/res-auto">
	<PreferenceCategory
		app:key="theme_category"
		app:title="@string/title_themes">
		<ListPreference
			app:key="theme"
			app:title="@string/title_prefered_theme"
			app:useSimpleSummaryProvider="true"
			app:entries="@array/settings_themes"
			app:entryValues="@array/settings_themes_values"
			app:defaultValue="adaptive"/>
	</PreferenceCategory>

	<PreferenceCategory
		app:key="lang_category"
		app:title="@string/title_langs">
		<ListPreference
			app:key="lang"
			app:title="@string/title_prefered_lang"
			app:useSimpleSummaryProvider="true"
			app:entries="@array/settings_langs"
			app:entryValues="@array/settings_langs_values"
			app:defaultValue="sysdef" />
	</PreferenceCategory>

	<PreferenceCategory
		app:title="@string/title_more">
		<Preference
			app:key="about"
			app:title="@string/title_about" />
		<Preference
			app:key="exit"
			app:title="@string/title_exit" />
	</PreferenceCategory>
</PreferenceScreen>